* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* Para considerar a borda de tamanho total, facilitar as jogadas de tamanho*/
   

}

body{
    background-color: #bc2d2d;
}

.textH1{
    color: #fff;
 
}

.content {
    height: 100vh;
    width: 100vh;
    background-color: #000000;
    padding: 1rem; /*Ele utilizou o rem pois é mais maleavel em cada browser*/
}


  